<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Students Management System</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<style>
		body {
			background-image: url("https://i.pinimg.com/originals/f6/03/35/f603355f44364a5cdb0a65c5f938d8ef.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
</head>

<body>

	<div th:replace="fragments/header::header"></div>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">
					Add New Student
				</h1>
				<th:block th:if="${session.msg}">
					<p class="text-center fs-4 text-success">[[${session.msg}]]</p>
					<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
				</th:block>
				<div class="card-body">
					<form th:action="@{/createStudent}" th:object="${student}" method="POST">
						<div class="form-group">
							<label>First Name</label>

							<input class="form-control" type="text" name="firstName" th:field="*{firstName}"
								placeholder="Enter First Name" />
						</div>

						<div class=" form-group">
							<label>Last Name</label>
							<input class="form-control" type="text" name="lastName" th:field="*{lastName}"
								placeholder="Enter Last Name" />
						</div>

						<div class=" form-group">
							<label>Age</label>
							<input class="form-control" type="text" name="age" th:field="*{age}"
								placeholder="Enter Your Age" />
						</div>

						<div class=" form-group">
							<label for="gender">Select Gender</label>
							<select class="form-control" id="gender" name="gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>

							</select>
						</div>

						<div class=" form-group">
							<label>Email</label>
							<input class="form-control" type="email" name="email" th:field="*{email}"
								placeholder="Enter email" />
						</div>

						<div class=" form-group">
							<label>Password</label>
							<input class="form-control" type="password" name="password" th:field="*{password}"
								placeholder="Enter Password" />
						</div>

						<br>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body><br>

<div th:replace="fragments/footer::footer"></div>


</html>